* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

html {
    scroll-behavior: smooth !important;
}

body {
    background: #fff2df;
}

/* HEADER */

header {
    width: 100%;
    background: #fff2df;
    padding: 20px 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #d49a6a;
}

.logo img {
    width: 110px;
}

.search-box {
    width: 45%;
    position: relative;
}

.search-box input {
    width: 100%;
    padding: 14px 45px 14px 20px;

    border: 1px solid #c97845;
    border-radius: 10px;

    outline: none;

    font-size: 16px;
}

.search-box i {
    position: absolute;
    right: 18px;
    top: 15px;

    color: #8b1111;
}

#resultadoPesquisa {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;

    background: white;
    border: 1px solid #c97845;
    border-radius: 10px;

    display: none;
    z-index: 1000;
    overflow: hidden;
}

#resultadoPesquisa a {
    display: block;
    padding: 12px 20px;

    color: #332724;
    text-decoration: none;
}

#resultadoPesquisa a:hover {
    background: #f5e8df;
}

.sem-resultado {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sem-resultado strong {
    color: #332724;
    font-size: 15px;
}

.sem-resultado span {
    color: #777;
    font-size: 13px;
}

.icons {
    display: flex;
    gap: 25px;
}

.icons a {
    color: #8b1111;
    font-size: 22px;
    text-decoration: none;
}

/* MENU */

nav {
    background: #c97845;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 18px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* BANNER */

.banner img {
    width: 100%;
    display: block;
}

/* COLEÇÕES */

.colecoes {
    padding: 80px 5%;
}

.colecoes h2 {
    text-align: center;
    font-size: 42px;
    color: #8b1111;
}

.subtitulo {
    text-align: center;
    color: #666;
    margin: 20px auto 60px;
    max-width: 700px;
}

.colecoes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.colecao-card {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .08);
    transition: .3s;
}

.colecao-card:hover {
    transform: translateY(-8px);
}

.colecao-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.texto {
    padding: 25px;
}

.texto h3 {
    color: #8b1111;
    margin-bottom: 12px;
}

.texto p {
    color: #666;
    line-height: 1.7;
    margin-bottom: 20px;
}

.texto a {
    display: inline-block;
    background: #c97845;
    color: white;
    padding: 12px 25px;
    border-radius: 10px;
    text-decoration: none;
    transition: .3s;
}

.texto a:hover {
    background: #a85f35;
}

.icone-carrinho {

    position: relative;

}

#contadorCarrinho {

    position: absolute;

    top: -10px;
    right: -10px;

    width: 20px;
    height: 20px;

    background: #8b1111;
    color: white;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: bold;

}

/* MENU */

nav {

    background: #c97845;

    display: flex;
    justify-content: center;
    gap: 35px;

    padding: 18px;

}

nav a {

    color: white;

    text-decoration: none;
    font-weight: bold;

}

/* CARRINHO */

.carrinho {

    padding: 70px 5%;

}

.carrinho h2 {

    text-align: center;

    font-size: 42px;

    color: #8b1111;

    margin-bottom: 50px;

}

.carrinho-container {

    display: grid;

    grid-template-columns: 2fr 1fr;

    gap: 40px;

}

@media(max-width:900px) {

    header {
        flex-direction: column;
        gap: 20px;
    }

    .search-box {
        width: 100%;
    }

    .colecoes-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

.detalhe-colecao {
    padding: 90px 6%;
    border-bottom: 1px solid #ead9ca;
    scroll-margin-top: 80px;
}

.titulo-colecao {

    text-align: center;

    margin-bottom: 45px;

}

.icone-colecao {

    display: block;

    font-size: 45px;

    margin-bottom: 10px;

}

.titulo-colecao h2 {

    color: #8b1111;

    font-size: 35px;

    margin-bottom: 10px;

}

.titulo-colecao p {

    color: #66554f;

    max-width: 600px;

    margin: auto;

}

.produtos-colecao {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

}

.produto-colecao {

    background: white;

    border-radius: 18px;

    overflow: hidden;

    box-shadow: 0 5px 20px rgba(0, 0, 0, .08);

    transition: .3s;

}

.produto-colecao:hover {

    transform: translateY(-8px);

}

.produto-colecao img {

    width: 100%;

    height: 260px;

    object-fit: cover;

}

.produto-colecao h3 {

    margin: 20px 20px 10px;

    color: #8b1111;

}

.produto-colecao p {

    margin: 0 20px;

    color: #66554f;

}

.produto-colecao span {

    display: block;

    margin: 18px 20px;

    font-size: 20px;

    font-weight: bold;

    color: #8b1111;

}

.produto-colecao button {

    width: calc(100% - 40px);

    margin: 0 20px 20px;

    padding: 12px;

    border: none;

    border-radius: 10px;

    background: #c97845;

    color: white;

    cursor: pointer;

    transition: .2s;

}

.produto-colecao button:hover {

    opacity: .9;

}

@media(max-width:600px) {

    .colecoes-container {
        grid-template-columns: 1fr;
    }

}

.footer {
    background: #d9864f;
    color: white;
    padding: 70px 8% 30px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 40px;
}

.footer-col h3 {
    margin-bottom: 20px;
    font-size: 16px;
}

.footer-col p,
.footer-col a {
    color: white;
    text-decoration: none;
    margin-bottom: 12px;
    display: block;
}

.footer-col a:hover {
    color: #8b1111;
}

.social {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social a {
    width: 45px;
    height: 45px;
    background: white;
    color: #8b1111;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
}

.social a:hover {
    background: #8b1111;
    color: white;
}

.footer-bottom {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, .4);
    text-align: center;
    color: #fff2df;
}