* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

html {
    scroll-behavior: smooth !important;
}

body {
    background: #f5eee3;

}

header {
    width: 100%;
    background: #fff2df;
    padding: 20px 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #d49a6a;
}

.logo img {
    width: 110px;
}

.search-box {
    width: 45%;
    position: relative;
}

.search-box input {
    width: 100%;
    padding: 14px 45px 14px 20px;

    border: 1px solid #c97845;
    border-radius: 10px;

    outline: none;

    font-size: 16px;
}

.search-box i {
    position: absolute;
    right: 18px;
    top: 15px;

    color: #8b1111;
}

#resultadoPesquisa {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;

    background: white;
    border: 1px solid #c97845;
    border-radius: 10px;

    display: none;
    z-index: 1000;
    overflow: hidden;
}

#resultadoPesquisa a {
    display: block;
    padding: 12px 20px;

    color: #332724;
    text-decoration: none;
}

#resultadoPesquisa a:hover {
    background: #f5e8df;
}

.sem-resultado {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sem-resultado strong {
    color: #332724;
    font-size: 15px;
}

.sem-resultado span {
    color: #777;
    font-size: 13px;
}

.icons {
    display: flex;
    gap: 25px;
}

.icons a {
    color: #7a0d0d;
    font-size: 22px;
    transition: .3s;
}

.icons a:hover {
    color: #c97845;
}

/* MENU */

nav {
    background: #c97845;

    display: flex;
    justify-content: center;
    gap: 40px;

    padding: 18px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

nav a:hover {
    color: #fff2df;
}

/* TÍTULO */

.titulo-contato {
    text-align: center;
    padding: 60px 20px;
}

.titulo-contato h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 40px;
    margin-bottom: 15px;
}

.titulo-contato p {
    width: 60%;
    margin: auto;
    color: #666;
    line-height: 1.8;
}

/* CONTATO */

.contato {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding-bottom: 80px;
    flex-wrap: wrap;
}

.informacoes {
    flex: 1;
    min-width: 280px;
}

.informacoes h2 {
    margin-bottom: 30px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.info-item i {
    width: 45px;
    height: 45px;
    background: #a01616;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.icone-carrinho {

    position: relative;

}

#contadorCarrinho {

    position: absolute;

    top: -10px;
    right: -10px;

    width: 20px;
    height: 20px;

    background: #8b1111;
    color: white;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: bold;

}

/* MENU */

nav {

    background: #c97845;

    display: flex;
    justify-content: center;
    gap: 35px;

    padding: 18px;

}

nav a {

    color: white;

    text-decoration: none;
    font-weight: bold;

}

/* CARRINHO */

.carrinho {

    padding: 70px 5%;

}

.carrinho h2 {

    text-align: center;

    font-size: 42px;

    color: #8b1111;

    margin-bottom: 50px;

}

.carrinho-container {

    display: grid;

    grid-template-columns: 2fr 1fr;

    gap: 40px;

}

/* FORMULÁRIO */

.titulos {
    color: #7a0d0d;
    font-weight: bold;
}

.formulario {
    flex: 1;
    min-width: 320px;
}

.formulario h2 {
    margin-bottom: 25px;
}

.formulario form {
    display: flex;
    flex-direction: column;
}

.formulario input,
.formulario textarea {

    margin-bottom: 18px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #fff;
    font-size: 16px;
}

.formulario textarea {
    resize: none;
}

.formulario button {

    padding: 16px;
    border: none;
    border-radius: 10px;
    background: #a01616;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.formulario button:hover {

    background: #7a0d0d;

}

/* HORÁRIO */

.horario {

    background: #f0e7dd;
    padding: 70px 20px;
    text-align: center;
}

.horario h2 {

    margin-bottom: 30px;
    font-family: "Libre Baskerville", serif;

}

.horario-card {

    display: inline-block;
    background: white;
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .08);
}

.horario-card p {

    margin: 15px 0;

}

/* FOOTER */


.footer{

    background:#d68a54;

    color:white;

    padding:70px 8% 30px;

}

.footer-container{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:40px;

}

.footer-logo{

    width:100px;

    margin-bottom:20px;

}

.footer-col h3{

    margin-bottom:20px;

    font-size:20px;

}

.footer-col p{

    margin-bottom:10px;

    line-height:1.6;

}

.footer-col a{

    display:block;

    color:white;

    text-decoration:none;

    margin-bottom:12px;

    transition:.3s;

}

.footer-col a:hover{

    color:#8b1111;

}

.social{

    display:flex;

    gap:15px;

    margin-top:20px;

}

.social a{

    width:45px;

    height:45px;

    background:white;

    color:#8b1111;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    text-decoration:none;

    font-size:20px;

    transition:.3s;

}

.social a:hover{

    background:#8b1111;

    color:white;

}

.footer-bottom{

    margin-top:50px;

    padding-top:20px;

    border-top:1px solid rgba(255,255,255,.3);

    text-align:center;

    font-size:14px;

}